body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 700px;
  height: 300px;
  background: #fff;
  margin: 5px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 8px;
}

.content {
   margin-bottom: 8px;
   padding: 32px 8px; 
    background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  padding: 30px;
  text-align: center;

}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
}